<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangke.mapper.IndexMapper">
	<select id="showChannel" resultType="map">
		SELECT * FROM cms_channel ORDER BY id
	</select>
	<select id="getNewArticles" resultType="map">
		SELECT id,title FROM cms_article 
		WHERE deleted=0 AND status=1 
		ORDER BY created DESC  limit ${value}
	</select>
	<select id="getImgArticle" resultType="map">
		SELECT id,title FROM cms_article 
		WHERE deleted=0 AND status=1 AND articleType=1
		ORDER BY created DESC  limit ${value}
	</select>
	<select id="getHotArticle" resultType="map">
		SELECT a.*,b.name cname1 ,c.name cname2,d.username 
			FROM cms_article a,cms_channel b,cms_category c,cms_user d 
			WHERE a.channel_id=b.id AND a.category_id=c.id AND a.user_id=d.id AND a.deleted=0 AND a.status=1 AND a.hot=1
			order by a.created desc
	</select>
	<resultMap type="article" id="articleMap">
		<id column="id" property="id"></id>
		<result property="channelId" column="channel_id"/>
		<result property="categoryId" column="category_id"/>
		<result property="userId" column="user_id"/>
		<result property="articleType" column="articleType" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"
			jdbcType="INTEGER" javaType="com.wangke.bean.ArticleType"
		/>
		<association property="user" column="user_id" select="com.wangke.mapper.UserMapper.getUserById"></association>
		<association property="channel" column="channel_id" select="com.wangke.mapper.ChannelMapper.showChannel2"></association>
		<association property="category" column="category_id" select="com.wangke.mapper.CategoryMapper.findById"></association>
	</resultMap>
	<select id="getAllArticle" resultMap="articleMap" >
		SELECT a.*,b.name cname1 ,c.name cname2,d.username 
			FROM cms_article a,cms_channel b,cms_category c,cms_user d 
			WHERE a.channel_id=b.id AND a.category_id=c.id AND a.user_id=d.id AND a.deleted=0 AND a.status=1
			order by a.created desc
	</select>
</mapper>