<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangke.mapper.FavariteMapper">
<resultMap type="article" id="articleMap">
		<id column="id" property="id"></id>
		<result property="channelId" column="channel_id"/>
		<result property="categoryId" column="category_id"/>
		<result property="userId" column="user_id"/>
		<result property="articleType" column="articleType" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"
			jdbcType="INTEGER" javaType="com.wangke.bean.ArticleType"
		/>
		<association property="user" column="user_id" select="com.wangke.mapper.UserMapper.getUserById"></association>
		<association property="channel" column="channel_id" select="com.wangke.mapper.ChannelMapper.showChannel2"></association>
		<association property="category" column="category_id" select="com.wangke.mapper.CategoryMapper.findById"></association>
	</resultMap>
	<!-- 展示当前用户的收藏记录 -->
	<select id="myCollection" resultMap="articleMap">
		select b.*,a.id cid,a.created created2 from cms_favorite a left join cms_article b on a.text = b.id where a.user_id = ${value} order by a.created desc
	</select>
	<!-- 收藏功能 -->
	<insert id="favorite">
		insert into cms_favorite values (0,#{id},#{url},#{userId},now())
	</insert>
	<!-- 根据id删除收藏记录 -->
	<delete id="delColle">
		delete from  cms_favorite where id = ${value}
	</delete>
	
</mapper>